.page-container {
    background-color: #F5F6FA;
    height: 100%;
    min-height: 100vh;
    .Header {
        padding-left: 28rem;
        font-size: 25px;
    }
    .line {
        border-bottom: 1px solid black;
        width: 50%;
        padding-bottom: 10px;
    }
    .news-card {
        background: #FFFFFF;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
        border-radius: 2px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
    }
    .source {
        font-size: 16px;
        padding-top: 10px;
    }
}